<!-- <div class="container">
    <div>
        <h3>All Users</h3>
        <app-all-users></app-all-users>
    </div>
    <div>
        <h3>User Detail</h3>
        <app-user-detail></app-user-detail>
    </div>
</div> -->


<!-- <div class="container">
    <div>
        <app-comp1></app-comp1>
    </div>
    <div>
        <app-comp2></app-comp2>
    </div>
</div> -->

<button (click)="unsubscribe()">Unsubscribe</button>
<button (click)="subscribe()">Subscribe</button>


<router-outlet></router-outlet>